<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
	<hr>
	<h3>Recent Transactions</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Time</th>
				<th>Gate</th>
				<th>Vehicle</th>
				<th>Registration status</th>
				<th>Toll(cents)</th>
			</tr>
		</thead>		
		<tbody>
			<tr th:each="aDetailedTransaction : ${detailedTransactions}">
				<td th:text="${#dates.format(aDetailedTransaction.timestamp, 'MM-dd-yyyy  hh:mm:ss')}"/>
				<td th:text="${aDetailedTransaction.gateId}"/>
				<td th:text="${aDetailedTransaction.vehicleId}"/>
				<td th:text="${aDetailedTransaction.registered}"/>
				<td th:text="${aDetailedTransaction.tollInCents}"/>
			</tr>
		</tbody>
	
	</table>
</div>
	
</body>
</html>
